{% extends 'base.html' %}
{% load static %}

{% block title %}Chat Detail{% endblock title %}

{% block content %}
    <div class="chat-detail" id="{{object.id}}">
        <h2>{{object.name}}</h2>
    </div>
    <div class="chat-messages">
        <h3>Messages</h3>
    {% for content in contents %}
        <p>{{ content.content_object.get_content }}</p>
    {% endfor %}
    </div>
    <div class="chat-form">
        <h3>Send a Message</h3>
        <form>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="send-button" data-url="{% url 'chat_api:save_content' %}">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
        
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/send_button.js' %}"></script>
{% endblock scripts %}