{% extends 'base.html' %}
{% load static %}

{% block title %}Chat Detail{% endblock title %}

{% block content %}
    <div class="chat-detail" id="{{object.id}}" data-user_id="{{request.user.id}}">
        <h2>{{object.chat_name}}</h2>
    </div>
    <div class="chat-materials">
        <h3 id="materials-button" data-url="{% url 'chat_api:chat-get-contents' object.id%}">
            <a href="#">Study materials</a>
        </h3>
        <div id="materials" data-status="shown">
            {% for content in contents %}
                <p>{{ content.content_object.get_content }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="chat-form">
        <h3>Send a Message</h3>
        <form>
            {% csrf_token %}
            {{ form.as_p }}
            {{image_form.as_div}}
            <div class="send-button" data-url="{% url 'chat_api:chat-save-content' object.id %}">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
    <div class="generate-questions">
        <h3>Generate Questions</h3>
        <form>
            {% csrf_token %}
            <div class="generate-button" data-url="{% url 'chat_api:chat-generate-questions' object.id %}">
                <button type="submit">Generate</button>
            </div>
        </form>
    </div>
        
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/send_button.js' %}" type="module"></script>
    <script src="{% static 'js/generate_button.js' %}"></script>
    <script src="{% static 'js/socket.js' %}" type="module"></script>
    <script src="{% static 'js/materials.js' %}" type="module"></script>
    <script src="{% static 'js/upload.js' %}" type="module"></script>
{% endblock scripts %}