{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{service.question_name}}
{% endblock title %}


{% block content %}
    <div class="question-container"> 
        <h2>{{ service.question_name }}</h2> 
        <form method="post">{% csrf_token %} 
            {{form.errors}}
            <div id="options">
                {% for option in service.options %}
                <div class="option"> 
                    <label> 
                        <input type="radio" name="answer" value="{{option.letter}}" required > 
                        <strong>{{ option.letter }}.</strong> {{ option.text }} 
                    </label> 
                </div> 
                {% endfor %}
            </div>
            
            {% if end %}
                <div id="endButton">
                    <button type="submit">Завершити</button>
                </div>
            {% else %}
                <div id="answerButton">
                    <button type="submit">Відповісти</button> 
                </div>
            {% endif %}
            </form>
                
            
    </div>
{% endblock content %}


{% block script %}
    <script src="{% static 'js/answerButton.js' %}"></script>
{% endblock script %}
    
    
    