{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{service.question_name}}
{% endblock title %}


{% block content %}

    <div class="question-container"> 
        <form method="post">{% csrf_token %} 
            <div class="answers">
                {{form.as_p}}
            </div>         
            <div id="answerButton" data-url="{% url 'questions_api:answer' %}" data-id="{{chat_related_id}}">         
                {% if end %}
                    <button type="submit">Finish test</button>     
                {% else %}
                    <button type="submit">Next</button>  
                {% endif %}      
            </div>
            </form>
                
            
    </div>
{% endblock content %}


{% block scripts %}
    <script src="{% static 'js/questions.js' %}"></script>
{% endblock scripts %}
    
    
    