{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{service.question_name}}
{% endblock title %}


{% block content %}

    <div class="question-container"> 
        <form method="post">{% csrf_token %} 
            {{form.as_p}}
            {{end}}
            {% if end %}
                <div id="answerButton">
                    <input type="hidden" value="True" name="end">
                    <button type="submit">Finish test</button> 
                    
                </div>
            {% else %}
                <div id="endButton">
                    <input type="hidden" value="False" name="end">
                    <button type="submit">Next</button>  
                </div>
            {% endif %}
            </form>
                
            
    </div>
{% endblock content %}


{% block script %}
    <script src="{% static 'js/answerButton.js' %}"></script>
{% endblock script %}
    
    
    